#user specific files
*.suo
*.user
*.sln.doc.states
*.log
*.obj
*.exe
[Dd]ebug/
[Rr]elease/
**/obj/
**/bin/
/shelf/
/workspace.xml
/httpRequests/

# Visual studio profiler
*.psess
*.vsp
*.vspx
.vs/
*.nuget.cache
# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
