
.id-column {
    width: 10% !important;
}

.productType-column {
    width: 10% !important;
}

.name-column {
    width: 10% !important;
}

.bakery-column {
    width: 10% !important;
}

.price-column {
    width: 10% !important;
}




