
.id-column {
    width: 10% !important;
}

.productType-column {
    width: 8% !important;
}

.name-column {
    width: 3% !important;
}

.price-column {
    width: 2% !important;
}

.bakery-column {
    width: 3% !important;
}





