.containerGreetings {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: auto;
    max-width: 90% !important;
}
.containerChild{
    box-decoration-break: slice;
    box-shadow: 20px 20px 30px 30px;
    background-color:pink;
}
.Greetings {
    font-size: 3.7rem;
    font-weight: 500;
    text-align: center;
    color: rgb(250, 249, 249);
    grid: 10px;
   
}


.parent{
    background-color:pink;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

}

.productsButton{
            padding: 10px;
            position: fixed;
            left: 40%;
}
