.App {
text-align: center;
}

.navheader{      
  margin-top: 10px;      
  color :black !important;      
  background-color: #b3beca!important      
}    
 
.PageHeading      
{      
  margin-top: 10px;      
  margin-bottom: 10px;      
  color :black !important;      
}   

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

.links {
  text-align: center !important;
  padding-top: 3%;
  font-weight: 500;
}