
.id-column {
    width: 10% !important;
}

.userId-column {
    width: 10% !important;
}

.address-column {
    width: 10% !important;
}

.deliveryMethod-column {
    width: 10% !important;
}

.totalPrice-column {
    width: 10% !important;
}

.Comments-column {
    width: 10% !important;
}


